<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ProjectA</title>
    <link rel="stylesheet" 
          type="text/css" 
          th:href="@{/resources/style.css}"></link>
  </head>
  <body>
    <div id="header" th:include="page :: header"></div>
  
    <div id="content">
      <h1>Welcome to Project A</h1>
      
      <p>A simple project management tool</p>
  
      <a th:href="@{/projects}">Projects</a>
      
    </div>
    <br></br>
    <div id="footer" th:include="page :: footer"></div>
  </body>
</html>
