<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<body>

	<div th:fragment="header">

		<div sec:authorize="isAuthenticated()">
			<span>Logged in as <a sec:authentication="name" th:href="@{'/user/' + ${#authentication.name}}">LoggedInUser</a> </span>
			<br></br>
			
			<span sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Admin Panel</a> | </span>
			
			<a th:href="@{/logout}">Logout</a>
		</div>

		<div sec:authorize="isAnonymous()">
			<span>Not logged in</span>
			<br></br>
			<a th:href="@{/register}">Register</a> | 
			<a th:href="@{/login}">Login</a>
		</div>

	</div>



	<div>Content goes here</div>




	<div th:fragment="footer"><a th:href="@{/}">Home</a></div>
	
</body>

</html>