<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ProjectA</title>
    <link rel="stylesheet" 
          type="text/css" 
          th:href="@{/resources/style.css}"></link>
  </head>
  <body>
    <div id="header" th:include="page :: header"></div>

    <div id="content">
      <h1>User Profile</h1>
      <span th:text="${user.username}">username</span><br/>
      <span th:text="${user.email}">email</span><br/>
      <span th:text="${user.description}">description</span><br/><br/>
    </div>

    <div id="footer" th:include="page :: footer"></div>
  </body>
</html>
