 <html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>ProjectA</title>
    <link rel="stylesheet" 
          type="text/css" 
          th:href="@{/resources/style.css}" ></link>
  </head>
  <body>
    <div id="header" th:include="page :: header"></div>
  
    <div id="content">
    
      <div class="listTitle">
        <h1>Recent Projects</h1>
        <ul class="projectList">
          <li th:each="project : ${projectList}" th:id="'project_' + ${project.name}">
            <div class="projectName" th:text="${project.name}">Project name</div>
            <div>
              <span class="projectDescription" th:text="${project.description}">Project description</span>
              <span class="projectCreatedDate" th:text="${project.createdDate}">Created date</span>
              
              
              <ul class="taskList">
	              <li th:each="task : ${project.tasks}" th:id="'task_' + ${task}">
	              	<span class="taskText" th:text="${task}">Task</span>
	              </li>
	          </ul>
              
              <br></br>
            </div>
          </li>
        </ul>
      </div>
    </div>
    
    
    <div id="footer" th:include="page :: footer"></div>
  </body>
</html>